
.img
- @notes.each do |note|
  .note-card
    %h1= link_to note.title.html_safe, note
    .datetime
      %p= note.created_at.strftime("%d %b %Y в %H:%M")
    %hr

%footer
  %img{:border => "0", :src => "http://x-lines.ru/letters/i/cyrillicscript/0586/a0a0ab/24/0/jf3gk51cpftgkhtcry3dycjs.png"}
