@import "bootstrap-sprockets"
@import "bootstrap"
@import "font-awesome-sprockets"
@import "font-awesome"

.container
  max-width: 750px
  background-color: #fefefe
  height: 100%

body
  font-size: 20px
  background-color: #f1f1f1

.datetime
  font-size: 18px
  color: #999999
  padding-bottom: 10px

footer
  width: 100%
  color: #d3fcaf
  text-align: center
  padding-top: 8px
  padding-bottom: 8px
  min-height: 100%


nav.navbar.navbar-default
  border: hidden
  background-color: rgba(236, 254, 251, 0)
  min-height: 70px
  padding-top: 20px

.navbar-default
  .navbar-nav
    li
      a
        color: black
        font-size: 23px
        font-style: normal
        font-weight: 500



i.fa.fa-github.pull-left.fa-2x
  color: black
  margin-left: 1px
  margin-right: 3px
